/node_modules/
node_modules/
!/node_modules/.bin/
!.pnpmfile.cjs
!.pnpm-lock.yaml
/dist/
!/dist/
!.distignore
/build/
!.build/
*.log
.env
*.env.local
*.env.development
*.env.production
.DS_Store
*.swp
*.swo
# Android
/apps/web/node_modules/
/apps/mobile/node_modules/
apps/web/node_modules/
apps/mobile/android/app/build/
apps/mobile/android/.gradle/
apps/mobile/android/local.properties
# iOS
apps/mobile/ios/build/
apps/mobile/ios/Pods
apps/mobile/ios/Podfile.lock
# Backend
backend/node_modules/
backend/dist/
# Shared và API
packages/shared/node_modules/
packages/api/node_modules/
# Test
coverage/
# IDE Files
*.idea/
*.vscode/
# Lock Files (tránh commit nếu không cần)
pnpm-lock.yaml
# Build Artifacts
*.zip
*.tar.gz